body {
    background-image: url(../images/maxresdefault.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: 100%;
}
 
#welcome {
    color: gold;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'Baloo Bhai', cursive;
    font-family: 'Anton', sans-serif;
}
 #select {
    color:gold;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'Baloo Bhai', cursive;
    font-family: 'Anton', sans-serif;   
   
 }

  img  {
  position: relative;
  width:150px;
  height: 150px;
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 30px;
  margin-bottom: 1px;   
  float:left;
}
.img-thumbnail {
    padding: 10px 5px 20px 5px;
    width: 150px;
    height: 150px;
}


p {
    color: blue;
    font-weight: bold;
    position: relative;
    text-align: center;
    left: -17px;
    bottom: 23px;
    font-size: 14px;
}

.text-warning {
    font-weight: bold;
}

.jumbotron {
    background-color: blue !important;
    color: gold !important;
    border: solid 3px gold !important;
}

#arena {
    background-image: url(/Users/keenanmapp/Documents/unit-4-game/assets/images/light.gif);
    background-repeat: no-repeat;
    border-bottom: 3px solid blue;
    border-top: 3px solid blue;
    height: 150px;
    background-size: 100%;
    opacity: 1.0;
    width: 100%;
    position: fixed;
    top: 80%;
    
    
}

#battle {
    position: fixed;
    color: gold;
    top: 63%;
    background-color: blue;
    border: solid 1px gold;

}

#restart {
    color: gold;
    background-color: blue;
    border: solid 1px gold;

}

#telecom {
    background-color: blue !important;
    color: gold !important;
    border: solid 3px gold !important;
    width: 800px;
    max-height: 300px;
}


.tele {
    color: gold;
    font-size: 20px;

}

#myVideo {
  /* position: fixed; */
  /* right: 50%; */
  bottom: 10px; 
  max-width: 1000px; 
  max-height: 500px;
  opacity: .80;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
}